// DISTRIBUTE ACTION

.rails_admin {
  // Students in general
  .student--container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: 4px 10px 10px 4px;
  }

  .student--name {
    flex: 1 1 auto;
    overflow-x: hidden;
    margin: 0 4px;
  }

  .student-selected {
    @extend .bg-info;
  }

  .selection-indicator {
    margin: 0 2px;
    width: 12px;
    font-size: inherit;
  }

  .top-indicator {
    @extend .text-success;
  }

  .mid-indicator {
    @extend .text-warning;
  }

  .low-indicator {
    @extend .text-danger;
  }

  .missing-indicator {
    @extend .text-muted;
  }

  // Not distributed students elements at the top of the action
  .not-distributed {
    margin-bottom: 20px;
    display: flex;
    height: 100px;
  }

  .students--container,
  .course-students {
    border: 1px solid #ddd;
    width: 300px;
    overflow-y: scroll;
    background-color: white;
  }

  .students--actions {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    justify-content: space-between;
    align-items: stretch;
    width: 175px;
  }

  // Courses at the center of the action
  .courses--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .course {
    @extend .alert;
    @extend .alert-info;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 400px;
    height: 200px;
    margin: 0 10px 10px 0;
    border: 1px solid #ddd;

    &.course__too-low {
      @extend .alert-warning;
    }
    &.course__good {
      @extend .alert-success;
    }
    &.course__too-many {
      @extend .alert-danger;
    }
  }

  .course-students {
    margin: 4px;
    flex: 0 1 auto;
  }

  .course-description {
    min-width: 200px;
    margin: 4px;
    flex: 1 1 auto;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .course-description--title {
    font-weight: bold;
    max-width: 200px;
  }

  .course-description--min-to-max {
    flex: 1 1 auto;
  }

  .course-description--count {
    font-weight: bold;
  }

  .course-description--count__warning {
    @extend .text-danger;
  }
}
