<div>
  Hello <%= current_admin.first_name %> <%= current_admin.last_name %>
</div>

<div>
  <button type="button"><%= link_to('Sign Out', destroy_admin_session_path, method: :delete) %></button>
</div>
