<%= content_tag :div, id: "student-#{student.id}", class: "student--container", data: student_distribution_data(student, @object) do %>
  <div class="student--name"><%= student.full_name %></div>
  <% distribution_indicator_by(student, @object) %>
<% end %>
