html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

body .page-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
