<header class="row page-header">
  <div class="container">
    <%= link_to 'https://www.bs30.de', class: 'page-header__home-link' do %>
      <%= image_tag 'fsp-logo.svg' %>
    <% end %>
  </div>
</header>
