<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <%= yield %>

    <hr style="border-top-color: #558fbd;" />
    <p style="margin: 0;"><b><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d">Bei Problemen oder Fragen, wenden Sie sich bitte an die Kurskoordinierenden:</span></b><b><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d"></span></b></p>
    <ul>
      <% Admin.koordinators_only.each do |admin| %>
        <li>
          <p style="margin: 0;">
            <span style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d">
              <%= admin.full_name %>:
            </span>
            <i>
              <span lang="EN-US" style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d">
                <%= link_to "mailto:#{admin.email}" do %>
                  <span style="color:#17365d">
                    <%= admin.email %>
                  </span>
                <% end %>
              </span>
            </i>
          </p>
        </li>
      <% end %>
    </ul>

    <hr style="border-top-color: #558fbd;" />
    <p style="margin: 0;"><b><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#002060">Kursverteiler</span></b><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#002060"></span></p>
    <p style="margin: 0;"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#244061"><img border="0" width="123" height="82" id="m_5600815226245160750Bild_x0020_1" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=3c656e5a41&amp;attid=0.1&amp;permmsgid=msg-f:1685414718314983566&amp;th=1763cbc1b061308e&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_it978BhonP2Hl1eaCP6Fxo_Aq76Cutw74ttmiL3H6v6dGpEuGqiUP40xJRCIEgQdyffRjwFbdMDU9AB-JR8LqSCuxkzHq8DKEnDZuLpZztZkur1daI2sX3-4&amp;disp=emb" alt="Logo klein" data-image-whitelisted="" class="CToWUd"></span></i></p>
    <p style="margin: 0;"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#244061">&nbsp;</span></i></p>
    <p style="margin: 0;"><b><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d">Staatliche Fachschule für Sozialpädagogik</span></b><b><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d"></span></b></p>
    <p style="margin: 0;"><span style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d">Berufliche Schule 30 (BS-30)</span></p>
    <p style="margin: 0;"><span style="font-size:2.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#002060">&nbsp;</span></p>
    <p style="margin: 0;"><span style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#0f243e">Wagnerstr. 60</span></p>
    <p style="margin: 0;"><span style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#0f243e">22081 Hamburg</span></p>
    <p style="margin: 0;"><span style="font-size:2.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#0f243e">&nbsp;</span></p>
    <p style="margin: 0;"><span style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#0f243e">Tel.: 0049-40-428846 - 211 (Büro)</span></p>
    <p style="margin: 0;"><i><span lang="EN-US" style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#17365d"><a href="mailto:kursverteiler@bs30.de" target="_blank"><span style="color:#17365d">kursverteiler@bs30.de</span></a></span></i></p>
  </body>
</html>
